* {
    /*border-radius:  0;*/
    outline:        none;
}

.background.csd {
    border-radius: 0;
}

.titlebar, window {
    border-radius:  0;
    box-shadow:     none;
}

decoration {
    padding:        0;
    box-shadow:     none;
}

decoration:backdrop {
    box-shadow:     none;
}
